<section class="colored-section" id="testimonials">
      <div id="testimonial-carousel" class="carousel slide" data-ride="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h2 class="testimonial-text">I used to be so lonely, but with tindeveloper's help, I've found the love of my life. I think.</h2>
            <%= image_tag("lady-img.jpg", class: "testimonial-image") %>
            <em>Beverly, New York</em> 
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">I no longer have to be with the computer alone. I've found the hottest developer in town.</h2>
            <%= image_tag("") %>
            <em>Lars, Berlin</em>
          </div>
        </div>
        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </section>