<section id="title">
    <div class="row">
        <div class="col-lg-6">
            <h1>Meet new and interesting developers nearby</h1>
        </div>
        <div class="col-lg-6">
            <%= image_tag("mobile.jpg", class: "title-image") %>
        </div>
    </div>
</section>

<%-# Photo: "https://www.vecteezy.com/free-vector/hand-holding-phone">Hand Holding Phone Vectors by Vecteezy -%>

