// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

/*headings*/
.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.5;
}

.section-heading {
    font-size: 2.5rem;
    line-height: 1.5;
}

/*title section*/
#title {
    padding: 1% 14% 10%;
    text-align: left;
}

.title-image {
    width: 66%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

.container-fluid {
    padding: 2.5% 13% 4%;
}

/*sections*/
.colored-section {
    background-color: #4e2161;
    color: #fff; 
}

.white-section {
    background-color: #fff;
}

/*navigation bar*/
.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
} 

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Monserrat-Light';
}

a.nav-link {
    text-decoration: none;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    
    &:hover {
        color: #bebebe;
        text-decoration: none;
    }
}

/*testimonials section*/
#testimonials {
    background-color: #502161;
}

.testimonial-text {
    font-size: 2.5rem;
    line-height: 1.5; 
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 1.5% 15%;
}

/*pricing section*/
#pricing {
    padding: 40px 100px;
}

.pricing-column {
    padding: 3% 2%;
}

.price-text {
    font-size: 2.5rem;
    line-height: 1.5;
}

#cta {
    padding: 0 15% 2%;
}

/*download buttons*/
.download-button {
    margin: 1.5% 3% 1.5% 0;
}

/*features secture*/
#features {
    padding: 3% 15%;
    position: relative;
}

.feature-box {
    padding: 3% 5%;
}

.feature-title {
    font-size: 1.75rem;
}

.icon {
    color: #ef4339;
    margin-bottom: 1rem;
}

.icon:hover {
    color: red; 
}

#footer {
    padding: 3% 14%;
    position: relative;
}

.social-icon {
    margin: 0 10px 20px;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

